*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


/*header*/

header{
  width: 100%;
  height: 150px;
  background-color: beige;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header  .headerTopo{
  width: 100%;
  height: 80px;
}
header  .headerMenu{
  width: 100%;
  height: 40px;
}
header  .headerMenu ul{
  list-style: none;
  display: flex;
  justify-content: space-around;
  gap: 5%;

}

header  .headerMenu li{
  font-size: 25px;
}

/*footer*/
footer{
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  background-color: maroon;
}

footer .menuFooter{
  width: 20%;
}

footer .menuFooter ul{
  list-style: none;
}
footer .menuFooter li{
  font-size: 18px;
  text-align: center;
}
footer .credenciais{
  width: 80%;
  text-align: center;
}
footer .credenciais h1{
  color:beige;
  font-size: 20px;
}
